env.dev
env.dev.example
env.prod
.env
.env.*

venv/
.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

.git/
.gitignore
.github/

supabase/

uploads/
*.log

.vscode/
.idea/
*.swp
.DS_Store

deploy.sh
run.py
